.hero {
  width: 480px;
  height: 400px;
  // max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  background-color: var(--background-black-color);
  text-align: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image: linear-gradient(
      var(--gradient-hero-color),
      var(--gradient-hero-color)
    ), url('../../img/hero-mobile.webp');
    // url('../../img/hero.webp');

    // @media (min-device-pixel-ratio: 2), 
    // (min-resolution: 192dpi), 
    // (min-resolution: 2dppx) 
    // { background-image: url('../../img/hero@2x.webp'); }

    &__title {
  margin: 0 auto 30px;
  max-width: 360px;
  // max-width: 696px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  line-height: 1.62;
  // font-size: 44px;
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
}


