:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-white-color: rgba(245, 244, 250, 1);
  --background-black-color: rgba(47, 48, 58, 1);
  --background-blue-color: rgb(66, 135, 245);
  --background-hero: rgba(47, 48, 58, 0.4);
  --primary-icon-color: rgba(175, 177, 184, 1);
  --gradient-hero-color: rgba(47, 48, 58, 0.4);
  --secondary-icon-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(238, 238, 238, 1);
  --background-work-kard: rgba(47, 48, 58, 0.8);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --secondary-accent-color: rgba(33, 150, 243, 0.9);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-header: rgba(236, 236, 236, 1);
  --input-border: rgba(33, 33, 33, 0.2);
  --button-close-border: rgba(0, 0, 0, 0.1);
  --comment-text-color: rgba(117, 117, 117, 0.5);
  --placeholder-text-color: rgba(255, 255, 255, 0.6);
  --border-form-color: rgba(255, 255, 255, 0.3);
  --border-form-focus-color: rgba(33, 150, 243, 0);
}